* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.container {
    /* border: 2px solid black; */
    width: 500px;
    margin: 50px auto;
    border-radius: 1rem;
    padding: 10px;
    background-color: aqua;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
}

.container h2 {
    padding-bottom: 2rem;
    text-align: center;
}

.btn {
    width: 100px;
    /* height: 30px; */
    border: none;
    border-radius: 1rem;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

#Button {
    padding: 15px 20px 15px 20px;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
}

#Button:hover {
    background-color: red;
}